services:
    playbloom_guzzle.client.plugin.logger:
        class: Playbloom\Bundle\GuzzleBundle\Log\LoggerPlugin
        public: true
        factory: ['Playbloom\Bundle\GuzzleBundle\Log\GuzzleLoggerFactory', 'create']
        arguments:
            - '@logger'
            - 'Requested "{host}" {method} "{resource}"'
        tags:
            - { name: monolog.logger, channel: guzzle }
            - { name: playbloom_guzzle.client.plugin }

    playbloom_guzzle.client.plugin.profiler:
        class: Playbloom\Bundle\GuzzleBundle\DataCollector\HistoryPlugin
        public: true
        factory: ['Playbloom\Bundle\GuzzleBundle\DataCollector\GuzzleHistoryFactory', 'create']
        arguments:
            - '@?debug.stopwatch'
        calls:
            - [setLimit, [100]]
