name: Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  tests:
    name: PHP ${{ matrix.php }} (Symfony ${{ matrix.symfony }}, Guzzle ${{ matrix.guzzle }})
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php:
          - "7.1"
          - "7.4"
          - "8.1"
        symfony:
          - "2.8.*"
          - "3.4.*"
          - "4.4.*"
        guzzle:
          - "^4.0"
          - "^5.0"
          - "^6.0"
          - "^7.0"
        exclude:
          - php: '7.1'
            guzzle: '^7.0'
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: pcov
          tools: flex

      - name: Configure Symfony
        run: composer config extra.symfony.require "${{ matrix.symfony }}"

      - name: Configure Guzzle
        run: composer require "guzzlehttp/guzzle:${{ matrix.guzzle }}" --no-update

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ matrix.php }}-composer-

      - name: Update project dependencies
        run: composer update --no-progress --ansi --prefer-stable

      - name: Validate composer
        run: composer validate --strict --no-check-lock

      - name: Run tests
        run: vendor/bin/phpunit

      - name: Run phpcs
        run: vendor/bin/phpcs --standard=phpcs.xml.dist src/ tests/
