name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  tests:
    name: PHPUnit PHP ${{ matrix.php }} (Symfony ${{ matrix.symfony }}, Guzzle ${{ matrix.guzzle }})
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php:
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.4'
        symfony:
          - '2.1.*'
          - '2.7.*'
          - '2.8.*'
          - '3.4.*'
          - '4.4.*'
        guzzle:
          - 'guzzle3'
          - 'guzzle4'
          - 'guzzle5'
          - 'guzzle6'
        exclude:
          - php: '7.4'
            symfony: '2.1.*'
          - php: '7.4'
            symfony: '2.7.*'
          - php: '7.0'
            symfony: '4.4.*'
          - php: '5.6'
            symfony: '4.4.*'
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: pcov
          tools: flex

      - name: Configure Symfony
        working-directory: tests/guzzle_environments/${{ matrix.guzzle }}
        run: composer config extra.symfony.require "${{ matrix.symfony }}"

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ matrix.php }}-${{ matrix.guzzle }}-composer-${{ hashFiles('tests/guzzle_environments/${{ matrix.guzzle }}/composer.json') }}
          restore-keys: ${{ matrix.php }}-${{ matrix.guzzle }}-composer-

      - name: Update project dependencies
        working-directory: tests/guzzle_environments/${{ matrix.guzzle }}
        run: composer update --no-progress --ansi --prefer-stable

      - name: Validate composer
        working-directory: tests/guzzle_environments/${{ matrix.guzzle }}
        run: composer validate --strict --no-check-lock

      - name: Run tests
        working-directory: tests/guzzle_environments/${{ matrix.guzzle }}
        run: vendor/bin/phpunit
